.flexible {
    display: flex;

}

.first-div {
    width: 50%;
    padding-left: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img-style1 {
    width: 50%;
    padding-right: 10px;
}

.header1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
}

.span1 {
    color: chocolate;
}

.span2 {
    color: rgb(68, 67, 67);
}

.text-style {
    font-size: 20px;
    padding-bottom: 30px;

}

.button {
    background-image: linear-gradient(rgb(228, 82, 9), rgb(128, 34, 0));
    border-radius: 20px;
    padding: 10px 30px 10px 30px;

    font-size: 16px;
}


.section2 {
    background-color: rgb(247, 231, 209);
}

.second-div {
    width: 50%;
    padding-left: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header2 {
    font-size: 38px;
    color: rgb(68, 67, 67);
}

.third-div {
    text-align: center
}


.img-style3 {
    display: flex;
    width: 30%;
}